@import "antd/dist/antd.css";

.App {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #0c0c0c;
  scroll-behavior: smooth;
}

.homepage-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

.overflow-body {
  overflow: hidden;
}

/* header */

header {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  background: transparent;
  /* animation magic */
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  z-index: 9999;
  top: 0;
  position: fixed;
}

.shrink {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #0c0c0c;
}

.navbar-btn1 {
  position: relative;
  transition: all 1.5s;
  overflow: hidden;
  background: linear-gradient(
    261.51deg,
    rgba(54, 209, 220, 0.22) 0.1%,
    rgba(91, 134, 229, 0.22) 92.07%
  );
  border-radius: 15px;
  border: 1px solid #5b86e5;
}

.navbar-btn1 .navbar-btn2 {
  position: relative;
  z-index: 2;
}

.navbar-btn1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  transition: all 0.6s;
}

.navbar-btn1:hover {
  color: #fff;
}

.navbar-btn1:hover:after {
  width: 100%;
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
}

.headerRightBtn {
  position: relative;
  z-index: 2;
}

.logo-title {
  background: linear-gradient(260.2deg, #36d1dc 43.36%, #5b86e5 101.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.btn {
  height: auto;
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-one {
  color: #f2f2f2;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #5b86e5;
  border-bottom-color: #5b86e5;
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: transparent;
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.box-1 {
  background-color: transparent;
}

/* header */
.header-item1 {
  animation-delay: 0.2s;
}
.hheader-item2 {
  opacity: 0;
}
.header-item3 {
  animation-delay: 0.4s;
}
.header-item4 {
  animation-delay: 0.6s;
}
.header-item5 {
  animation-delay: 0.8s;
}
.header-item6 {
  animation-delay: 1s;
}
.header-item7 {
  animation-delay: 1.2s;
}

/* hrero section */

.heroWrapper {
  position: relative;
  z-index: 1;
}

.bg-blue {
  background: linear-gradient(
    138.4deg,
    #5b86e5 -117.13%,
    rgba(91, 134, 229, 0) 27.12%
  );
}

.heading-color {
  background: -webkit-linear-gradient(#36d1dc 100%, #5b86e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-description {
  color: rgba(255, 255, 255, 0.71);
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

@media screen and (max-width: 425px) and (min-width: 0px) {
  .hero-description {
    line-height: 20px;
  }
}

.hero-bg-postion {
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .hero-bg-postion {
    position: absolute;
    top: 8%;
  }
}

@media screen and (max-width: 3060px) and (min-width: 2141px) {
  .hero-bg-postion {
    position: absolute;
    top: 5%;
  }
}

.hero-button {
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  border-radius: 15px;
  border: 1px solid #5b86e5;
  transition: background 0.8s ease-in-out;
}

.hero-button:hover {
  background: linear-gradient(
    261.51deg,
    rgba(54, 209, 220, 0.22) 0.1%,
    rgba(91, 134, 229, 0.22) 92.07%
  );
  border: 1px solid #5b86e5;
}

.hero-button2 {
  background: linear-gradient(
    261.51deg,
    rgba(54, 209, 220, 0.22) 0.1%,
    rgba(91, 134, 229, 0.22) 92.07%
  );
  border-radius: 15px;
  border: 1px solid #5b86e5;
}

.hero-button2:hover {
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
}

/* sections */

.sections-title-color {
  background: -webkit-linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sections-bg {
  /* background: linear-gradient(
    261.78deg,
    rgba(54, 209, 220, 0.04) 0.1%,
    rgba(91, 134, 229, 0.04) 92.46%
  ); */
  background-image: url(../src//assets/images/homepage-bg.png);
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* section 01 */

.section-title-count {
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-card {
  border: 0.873303px solid rgba(217, 217, 217, 0.2);
  border-radius: 26px;
  background: rgba(14, 19, 20, 0.2);
  backdrop-filter: blur(5px);
}

.section1-card-inner {
  display: grid;
  justify-self: stretch;
}

.section1-bg-postion {
  position: absolute;
  top: 40%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .section1-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 2400px) and (min-width: 1900px) {
  .section1-bg-postion {
    position: absolute;
    top: 30%;
  }
}

@media screen and (max-width: 3060px) and (min-width: 2401px) {
  .section1-bg-postion {
    position: absolute;
    top: 20%;
  }
}

.section1-card-title {
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section1-description {
  color: rgba(255, 255, 255, 0.81);
  font-style: normal;
  font-weight: 200;
}

/* section 02 */

.section2-card {
  border-radius: 16px;
  background: linear-gradient(
    261.51deg,
    rgba(54, 209, 220, 0.22) 0.1%,
    rgba(91, 134, 229, 0.22) 92.07%
  );
  backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid #5b86e5;
}

.section2-bg-postion {
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .section2-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 2400px) and (min-width: 1900px) {
  .section2-bg-postion {
    position: absolute;
    top: 20%;
  }
}

@media screen and (max-width: 3060px) and (min-width: 2401px) {
  .section2-bg-postion {
    position: absolute;
    top: 10%;
  }
}

.section2-description {
  color: rgba(255, 255, 255, 0.81);
  font-style: normal;
  font-weight: 200;
}

.section2-card-title {
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* nft section */

.nft-bg-postion {
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .nft-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2100px) {
  .nft-bg-postion {
    position: absolute;
    top: 10%;
  }
}

.nft-description {
  color: rgba(255, 255, 255, 0.81);
  font-style: normal;
  font-weight: 200;
  line-height: 24px;
}

/* stake section */

.stake-bg-postion {
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .stake-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2100px) {
  .stake-bg-postion {
    position: absolute;
    top: 20%;
  }
}

/* low fee section */

.fee-bg-postion {
  position: absolute;
  top: 15%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .fee-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2100px) {
  .fee-bg-postion {
    position: absolute;
    top: 10%;
  }
}

/* section 3 */

.section3-custom-button {
  position: relative;
  border-radius: 16px;
  border: 1px solid #5b86e5;
}

.section3-custom-button > ul {
  z-index: 2;
  position: relative;
}

.section3-custom-button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1;
  background: linear-gradient(
    261.51deg,
    rgba(54, 209, 220, 0.22) 0.1%,
    rgba(91, 134, 229, 0.22) 92.07%
  );
  border-radius: 16px;
}

.phase-custom-position {
  margin-left: -42px;
}

@media screen and (max-width: 766px) and (min-width: 0px) {
  .phase-custom-position {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) and (min-width: 767px) {
  .phase-custom-position {
    margin-left: -30px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .phase-custom-position {
    margin-left: -37px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {
  .phase-custom-position {
    margin-left: -42px;
  }
}

@media screen and (max-width: 1640px) and (min-width: 1441px) {
  .phase-custom-position {
    margin-left: -45px;
  }
}

@media screen and (max-width: 1740px) and (min-width: 1641px) {
  .phase-custom-position {
    margin-left: -47px;
  }
}

@media screen and (max-width: 1840px) and (min-width: 1741px) {
  .phase-custom-position {
    margin-left: -49px;
  }
}

@media screen and (max-width: 2040px) and (min-width: 1841px) {
  .phase-custom-position {
    margin-left: -53px;
  }
}

@media screen and (max-width: 3040px) and (min-width: 2041px) {
  .phase-custom-position {
    margin-left: -55px;
  }
}

/* section 4 */

.supporters-bg {
  background: linear-gradient(
    261.78deg,
    rgba(54, 209, 220, 0.11) 0.1%,
    rgba(91, 134, 229, 0.11) 92.46%
  );
}

/* section 5 */

.progressbar-position {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section5-title-count {
  border: 1px solid #00000000;
  border-radius: 100%;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5-title-color {
  background: -webkit-linear-gradient(#36d1dc 100%, #5b86e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.total-supply {
  color: rgba(255, 255, 255, 0.56);
}

.name {
  color: rgba(255, 255, 255, 0.73);
}

.custom-border {
  border-bottom: 1px solid #414141;
  padding-bottom: 16px;
}

.section5-card {
  background: rgba(80, 80, 80, 0.16);
  border-radius: 8px;
}

/* faq */

.faq-bg-postion {
  position: absolute;
  top: 20%;
}

@media screen and (max-width: 768px) and (min-width: 0px) {
  .faq-bg-postion {
    position: absolute;
    top: 50%;
  }
}

@media screen and (max-width: 3000px) and (min-width: 2200px) {
  .faq-bg-postion {
    position: absolute;
    top: 15%;
  }
}

/* new */

.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 16px;
}

.ant-collapse-header {
  border-radius: 16px;
  margin-bottom: 20px;
  background: rgba(80, 80, 80, 0.16);
  backdrop-filter: blur(10px);
  color: #ffffff !important;
  font-size: 14px;
  padding: 26px !important;
}

.ant-collapse-content {
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 767px) and (min-width: 0px) {
  .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 16px;
  }

  .ant-collapse-header {
    font-size: 13px;
    padding: 24px !important;
  }

  .ant-collapse-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ant-collapse-item > .ant-collapse-header:focus {
  border: 0.3px solid #5b86e5;
}

.ant-collapse-item > .ant-collapse-header:active {
  border: 0.3px solid #5b86e5;
}

.ant-collapse-header {
  border: 0.3px solid #0c0c0c;
}

.ant-collapse-item-active .ant-collapse-header {
  border: 0.3px solid #5b86e5;
}

/* footer */

.footer-text {
  background: linear-gradient(261.51deg, #36d1dc 0.1%, #5b86e5 92.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.footer-description-text {
  color: rgba(255, 255, 255, 0.81);
}

.footer-community-text {
  color: rgba(255, 255, 255, 0.32);
}

.footer-black-bg {
  background: rgba(22, 22, 22, 0.4);
}
